@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');




body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #1F1F1F;
    color: #22d4fd;
}

.horizontal{
    display: flex;
    justify-content: center;
}


.alinhamento{
    display: flex;
    padding: 0.5vh;
    margin: 2.7vh;
    
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 2.05rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.titulo__segundario{
    display: flex;
    justify-content: center;
    font-size: 1.375rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.texto__jogos{
    font-size: 1.125rem;
    overflow: auto;
    /*margin: 1.06rem;*/
    font-family: 'Roboto Condensed', sans-serif;
}

.elden__ring{
    
}
.titulo__elden__ring{
   font-size: 1.375rem;
   font-family: 'Roboto Condensed', sans-serif;
}
.imagem__elden__ring{
    float: left;
    margin-right: 0.9rem;
    width: 13.75rem;
}

.it__takes__two{
    
}
.titulo__itt{
    font-size: 1.275rem;
    font-family: 'Roboto Condensed', sans-serif;

}
.imagem__it__takes__two{
    float: left;
    margin-right: 0.9rem;
    width: 12.8rem;
}

.tlouptii{
    display: flex;
   
}
.titulo__tloupii{
    font-size: 1.375rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.imagem__the_last_of_us_ptii{
    float: left;
    margin-right: 0.9rem;
    width: 15.4rem;
}

.sekiro{
    
}
.titulo__sekiro{
    font-size: 1.375rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.imagem__sekiro{
    float: left;
    margin-right: 0.9rem;
    width: 14rem;
}


.gow{

}
.titulo__gow{
    font-size: 1.375rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.imagem__gow{
    float: left;
    margin-right: 0.875rem;
    width: 14.3rem;
}


@media (max-width: 608px){
    .horizontal{
        flex-direction: column;
    }

    .texto__jogos{
        display: inline-flex;
        /*flex-direction: column;*/
    }
}



